.invdiv{
    background-color: rgb(57, 57, 57);
    border-radius: 15px;
    height: max-content;
    padding: 40px;
}
.ant-select .ant-select-arrow {
    color: black;
}

.ant-select-dropdown .ant-select-item-option-content {
    color: black;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-select-single.ant-select-lg.ant-select-open .ant-select-selection-item {
    color: black;
}